@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');
@import url(./root.css);

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1280px !important;
}



/* nav */


.gap-20 {
    gap: 20px;
}

.gap-sm-5 {
    gap: 5px;
}

.gap-sm-3 {
    gap: 3px;
}

.py-30 {
    padding-bottom: 30px;
    padding-top: 30px;
}

.red-btn {
    font-size: var(--fs-xl1);
    font-weight: var(--fw-xl);
    font-family: var(--ff-1);
    background: var(--clr-pink);
    color: var(--clr-wh);
    border: none;
    padding: 10px 32px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(158, 48, 64, 0.17);
    text-align: center;
}


ul {
    padding-left: 0 !important;
}

.flow-hidden {
    overflow-y: hidden ;
}

.gap-40 {
    gap: 40px;
}

.icon-img-card {
    padding: 8px;
    border-radius: 5px;
    background: var(--bg-white);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
}


.top-text {
    font-size: var(--fs-sm-10);
    font-weight: var(--fw-md);
    font-family: var(--ff-1);
    color: var(--clr-bl);
}

.top-text-1 {
    font-size: var(--fs-md);
    font-weight: var(--fw-xl);
    font-family: var(--ff-1);
    color: var(--clr-pink);
}

.nav-head {
    font-size: var(--fs-xl2);
    font-weight: var(--fw-xl);
    font-family: var(--ff-1);
    color: var(--clr-pink);
}

@media (max-width:1200px) {
    label[id="menuIcon"] {
        width: 30px;
        height: 24px;
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 2%;
        top: 2%;
        justify-content: space-between;
        flex-direction: column;
        z-index: 5;
        align-items: center;

    }

    label[id="menuIcon"]>span {
        width: 100%;
        height: 5px;
        background: #9E3040;
    }

    .nav-flip {
        /* display: flex; */
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        position: fixed;
        opacity: 1;
        width: 100%;
        max-width: 400px;
        height: 100%;
        background: white;
        z-index: 3;
        box-shadow: 0px 0px 19px 9px rgba(0, 0, 0, 0.10);

    }

    .fix-lft {
        left: 0;
    }
}


/* sec-1 */
.sec-1-bg-img{
    background-image: url('../images/sec-1-bg-img.png');
    background-size: 100% 100%;
    background-position: fixed;
}
.sec-1-head{
   
        font-size: var(--fs-xl6);
        font-weight: var(--fw-xl);
        font-family: var(--ff-1);
        color: var(--clr-wh);
        max-width: 442px;
        line-height: 117%;
   
}
.sec-1-head-2{
   
        font-size: var(--fs-xl2);
        font-weight: var(--fw-md);
        font-family: var(--ff-2);
        color: var(--clr-wh);
   
}
.sec-1-btn{
    font-size: var(--fs-xl1);
    font-weight: var(--fw-xl);
    font-family: var(--ff-1);
    color: var(--clr-pink);
    background: var(--clr-wh-bg);
    padding: 10px 28px;
    border: none;
    border-radius: 5px;
}
.pt-12{
    padding-top: 12px;
}
.pb-30{
    padding-bottom: 30px;
}

/* sec-2 */
.pt-50{
    padding-top: 50px;
}
.sec-2-cardhead {
    font-size: var(--fs-xl3);
    font-weight: var(--fw-xl);
    font-family: var(--ff-1);
    color: var(--clr-bl);
}

.sec-2-cardhead-2 {
    font-size: var(--fs-lg);
    font-weight: var(--fw-md);
    font-family: var(--ff-2);
    color: var(--clr-bl);
}


.pt-70{
    padding-top: 70px;
}

.sec-2-line{
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    z-index: .7;
}
/* sec-3 */

.pb-25{
    padding-bottom: 25px;
}
.heading{
    font-size: var(--fs-xl4);
    font-weight: var(--fw-xl);
    font-family: var(--ff-1);
    color: var(--clr-bl);
}
.sec-3-bg-img{
    background-image: url('../images/sec-3-bg-img.png');
    background-size: 100% 100%;
    background-position: fixed;
    border-radius: 30px;
}
.sec-3-para{
    font-size: var(--fs-xl5);
    font-weight: var(--fw-xl);
    font-family: var(--ff-1);
    color: var(--clr-wh);
    padding: 50px;
}
.sec-3-card{
    padding:23px 14px 32px 14px;
    border-radius: 10px;
    background: #F3F5F6;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.00);
    
}
.sec-3-para-1{
    font-size: var(--fs-md);
    font-weight: var(--fw-md);
    font-family: var(--ff-2);
    color: var(--clr-bl);
    max-width: 300px;
    line-height: 180%;
}
.card-nmbr-1{
    font-size: var(--fs-xl2);
    font-weight: var(--fw-xl);
    font-family: var(--ff-1);
    color: var(--clr-pink);
}
.card-nmbr-2{
    font-size: var(--fs-md);
    font-weight: var(--fw-md);
    font-family: var(--ff-1);
    color: var(--clr-gray);


}
.mt-22{
    margin-top: 22px;
}
.pt-30{
    padding-top: 30px;
}
.pt-sm-30{
    padding-top: 30px;
}
.sec-3-btn{
    padding: 6px 18px;
    border: none;
    border-radius: 5px;
    font-size: var(--fs-md);
    font-weight: var(--fw-xl);
    font-family: var(--ff-1);
    color: var(--clr-wh);
    background: var(--clr-bl-bg);
}
.sec-3-img-set{

    height: 191px;
}

.pb-95{
    padding-bottom: 95px;
}
.sec-3-last-btn{
    padding: 10px 29px;
    border: none;
    border-radius: 5px;
    font-size: var(--fs-xl1);
    font-weight: var(--fw-xl);
    font-family: var(--ff-1);
    color: var(--clr-wh);
    background: var(--clr-pink-bg);
}
/* sec-4 */


.sec-4-card {
    background: var(--clr-gray-lite-1);
      flex-shrink: 0;
    border-radius: 30px;
}

.pb-35{
    padding-bottom: 35px;
}
.pt-35{
    padding-top: 35px;
}
.sec-4-head{
    font-size: var(--fs-xl4);
    font-weight: var(--fw-xxl);
    font-family: var(--ff-1);
    color: var(--clr-pink);
}
.sec-4-para-1{
    font-size: var(--fs-lg);
    font-weight: var(--fw-md);
    font-family: var(--ff-2);
    color: var(--clr-bl);
    line-height: 190%;
}
.col-5{
    padding-left: 3px !important;
    padding-right: 3px !important;
}
.p-28{
    padding: 28px;
}
.pt-40{
    padding-top: 40px;
}
.pt-60{
    padding-top: 60px;
}
.pt-12{
    padding-top: 12px;
}
.mt-30{
    margin-top: 30px;
}
.pt-md-30{
    padding-top: 30px;
}
.sec-4-btn{
    padding: 10px 28px;
    font-size: var(--fs-xl1);
    font-weight: var(--fw-xl);
    font-family: var(--ff-1);
    color: var(--clr-wh);
    background: var(--clr-bl-bg);
    border: none;
    border-radius: 5px;
box-shadow: 0px 0px 10px 0px rgba(35, 35, 35, 0.17);
}
.sec-4-img{
    border-radius: 30px;
}










@media (min-width:1439.8px) {
   
    .px-xxl-5 {
        padding-right: 3rem!important;
        padding-left: 3rem!important;
    }
   
 
}

@media (min-width:1199.8px) {
   
   .pt-xl-50{
    padding-top: 50px;
   }
   .pt-95{
    padding-top: 95px;
}
}
@media (min-width:991.8px) {
    .sec-4-card {
        background: var(--clr-gray-lite-1);
        max-width: 519px;
    
        flex-shrink: 0;
        border-radius: 30px;
    }
    .pt-md-30{
        padding-top: 0;
    }
    .pt-20 {
        padding-top: 20px;
    }
    .pt-lg-50{
        padding-top: 50px;
    }
    
    .sec-3-para{
        font-size: var(--fs-xl5);
        font-weight: var(--fw-xl);
        font-family: var(--ff-1);
        color: var(--clr-wh);
        padding: 0px 0px 0px 0px;
    }
    .pb-75{
        padding-bottom: 75px;
    }
    .pt-75{
        padding-top: 75px;
    }
 
}
@media (min-width:767.8px) {
    .sec-3-btn{
        padding: 8px 31px;
        border: none;
        border-radius: 5px;
        font-size: var(--fs-md);
        font-weight: var(--fw-xl);
        font-family: var(--ff-1);
        color: var(--clr-wh);
        background: var(--clr-bl-bg);
    }
  
  
}
@media (min-width:575.8px) {
    .icon-img-card {
        padding: 13px;
    }
    .sec-3-para{
        font-size: var(--fs-xl5);
        font-weight: var(--fw-xl);
        font-family: var(--ff-1);
        color: var(--clr-wh);
        padding: 159px 181px 447px 162px;


    }
 
    .pt-sm-30{
        padding-top: 30px;
    }
    .pt-60{
        padding-top: 60px;
    }
    
    .gap-60 {
        gap: 60px;
    }

    .gap-15 {
        gap: 15px;
    }

    .top-text {
        font-size: var(--fs-sm);
        font-weight: var(--fw-md);
        font-family: var(--ff-1);
        color: var(--clr-bl);
    }

    .top-text-1 {
        font-size: var(--fs-md);
        font-weight: var(--fw-xl);
        font-family: var(--ff-1);
        color: var(--clr-pink);
    }
  
    .nav-head {
        font-size: var(--fs-xl3);
        font-weight: var(--fw-xl);
        font-family: var(--ff-1);
        color: var(--clr-pink);
    }


}
